@font-face {
  font-family: "iconfont-oeyoews"; /* Project id 4975675 */
  src: url('iconfont.woff2?t=1755415726153') format('woff2'),
       url('iconfont.woff?t=1755415726153') format('woff'),
       url('iconfont.ttf?t=1755415726153') format('truetype');
}

.iconfont-oeyoews {
  font-family: "iconfont-oeyoews" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zidianguanli:before {
  content: "\e624";
}

.icon-navicon-jsgl:before {
  content: "\e640";
}

.icon-workflow3:before {
  content: "\e656";
}

.icon-icon-workflow:before {
  content: "\e68b";
}

.icon-workflow1:before {
  content: "\ee0d";
}

.icon-workFlow:before {
  content: "\e6f2";
}

.icon-workflow2:before {
  content: "\e7f3";
}

.icon-Workflow1:before {
  content: "\eae4";
}

.icon-shenglvehao:before {
  content: "\e622";
}

.icon-git1:before {
  content: "\e6ea";
}

